body {
	margin: 0;
	background-image: linear-gradient(aliceblue 2px, transparent 2px), linear-gradient(90deg, aliceblue 2px, transparent 2px);
	background-size: 80px 80px;
	background-position: 0px 0px;
}
label {
	font-size: xx-large;
}
input[type="number"] {
	width: 2em;
	padding: 5px;
	border: solid thick royalblue;
	border-radius: 10px;
	font-size: xx-large;
}
.hidden {
	display: none;
}
.red_color {
	color: red;
}
.text_box_invalid {
	background-color: mistyrose;
	border-color: tomato !important;
}
#header {
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #bbffff;
}
#header > h1 {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#header::after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 20px;
	top: 100%;
	left: 0;
	background: linear-gradient(#00000020, transparent);
	z-index: 0;
}
#main_area {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}
.button {
	padding: 10px 30px;
	color: white;
	font-size: xx-large;
	border-radius: 40px;
	cursor: pointer;
	transition: 0.3s;
	user-select: none;
}
.button:active {
	transform: scale(95%);
}
.button_disabled {
	background-color: darkgray !important;
	border: solid thick dimgray !important;
	transform: none !important;
	cursor: not-allowed !important;
}
.button_blue {
	background-color: deepskyblue;
	border: solid thick royalblue;
}
.button_blue:hover {
	background-color: #00a3da;
	border-color: #2f4ba1;
}
#puzzle_area {
	position: relative;
	width: 800px;
	height: 450px;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
}
#puzzle_area > * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.puzzle_area_empty {
	background-color: lightgray;
}
.puzzle_frame {
	border: ridge 12px wheat;
}
#puzzle_empty_text {
	margin: 0;
	color: dimgray;
	font-size: xx-large;
}
#puzzle_division_settings {
	margin-top: 50px;
}
label[for="puzzle_row_division"] {
	margin-left: 50px;
}