body {
	min-width: 1000px;
	min-height: 834px;
	margin: 0;
	background-size: 80px 80px;
	background-position: 0px 0px;
	transition:  1.5s;
	animation : background-animation 3s linear infinite;
}
@keyframes background-animation {
	100% {
		background-position: 80px 80px;
	}
}
.background_blue {
	background-image: linear-gradient(aliceblue 2px, transparent 2px), linear-gradient(90deg, aliceblue 2px, transparent 2px);
}
.background_green {
	background-image: linear-gradient(honeydew 2px, transparent 2px), linear-gradient(90deg, honeydew 2px, transparent 2px);
}
label {
	font-size: xx-large;
	margin-right: 20px;
}
input[type="number"] {
	width: 2em;
	padding: 5px;
	border: solid thick royalblue;
	border-radius: 10px;
	font-size: xx-large;
}
.hidden {
	display: none !important;
}
.fade_out {
	animation-name: fade-out;
}
@keyframes fade-out {
	100% {
		opacity: 0;
	}
}
.fade_in {
	animation-name: fade-in;
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.red_color {
	color: red;
}
.text_box_invalid {
	background-color: mistyrose;
	border-color: tomato !important;
}
#header {
	position: relative;
	width: 100%;
	height: 60px;
	transition: 1.5s;
	box-shadow: 0px 0px 20px 10px #00000020;
}
#header > h1 {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.header_blue {
	background-color: #bbffff;
}
.header_green {
	background-color: #bbffbb;
}
#main_area {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}
.button {
	width: 400px;
	padding: 10px 30px;
	color: white;
	text-align: center;
	font-size: xx-large;
	border-radius: 40px;
	cursor: pointer;
	transition: 0.3s;
	user-select: none;
}
.button:active {
	transform: scale(95%);
}
.button_disabled {
	background-color: darkgray !important;
	border: solid thick dimgray !important;
	transform: none !important;
	cursor: not-allowed !important;
}
.button_space {
	margin-top: 20px;
}
.button_blue {
	background-color: deepskyblue;
	border: solid thick royalblue;
}
.button_blue:hover {
	background-color: #00a3da;
	border-color: #2f4ba1;
}
.button_green {
	background-color: limegreen;
	border: solid thick darkgreen;
}
.button_green:hover {
	background-color: #249724;
	border-color: #004b00;
}
.icon {
	width: 32px;
	height: 32px;
	margin-right: 10px;
	transform: rotateZ(20deg);
	user-select: none;
	pointer-events: none;
}
.icon_blue {
	filter: opacity(0.6) drop-shadow(0px 0px 0px #00bbbb);
}
.icon_green {
	filter: opacity(0.6) drop-shadow(0px 0px 0px #00bb00);
}
#puzzle_area {
	position: relative;
	width: 800px;
	height: 450px;
	margin-bottom: 50px;
	user-select: none;
}
.puzzle_area_image_select {
	cursor: pointer;
}
#puzzle_area > * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.puzzle_frame {
	border: ridge 12px wheat;
}
#puzzle_background {
	width: 800px;
	height: 450px;
	background-color: lightgray;
}
#puzzle_empty_text {
	margin: 0;
	color: dimgray;
	font-size: xx-large;
}
#puzzle_piece_area {
	display: grid;
}
.puzzle_piece_fade_in {
	animation: puzzle-piece-fade-in 0.3s linear;
}
@keyframes puzzle-piece-fade-in {
	0% {
		transform: scale(150%);
		opacity: 0;
	}
	100% {
		transform: scale(100%);
		opacity: 1;
	}
}
.puzzle_piece_fade_out {
	animation: puzzle-piece-fade-out 0.3s linear;
}
@keyframes puzzle-piece-fade-out {
	100% {
		transform: scale(150%);
		opacity: 0;
	}
}
#puzzle_piece_area > canvas {
	pointer-events: none;
}
#puzzle_divide_canvas {
	pointer-events: none;
	z-index: 1;
}
#menus > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
label[for="puzzle_row_division"] {
	margin-left: 50px;
}
#puzzle_division_settings {
	display: flex;
	align-items: center;
}
.volumes {
	display: flex;
	align-items: center;
	margin: 15px 0px;
}
.volumes > input {
	width: 200px;
}
.music_volume {
	margin-right: 30px;
}
#popup_display {
	position: absolute;
	top: 347px;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	z-index: 1;
}
#popup_display_text {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 300%;
	height: 80px;
	margin: 0;
	transform: translate(-50%, -50%) scaleY(0%);
	transform-origin: top left;
	text-align: center;
	line-height: 80px;
	color: honeydew;
	text-shadow: 0px 0px 10px darkgreen;
	font-size: 56px;
	font-weight: bold;
	background-color: lawngreen;
	box-shadow: 0px 0px 20px 10px #00000020;
	overflow-x: hidden;
}
.popup_display_animation {
	animation: popup-display-animation 3s linear;
}
@keyframes popup-display-animation {
	0% {
		transform: scaleY(0%) translate(-17%, -50%);
		opacity: 0;
	}
	10% {
		transform: scaleY(100%) translate(-17%, -50%);
		opacity: 1;
	}
	30% {
		transform: scale(100%) translate(-50%, -50%);
	}
	70% {
		transform: scale(100%) translate(-50%, -50%);
	}
	90% {
		transform: scaleY(100%) translate(-83%, -50%);
		opacity: 1;
	}
	100% {
		transform: scaleY(0%) translate(-83%, -50%);
		opacity: 0;
	}
}
#pause_button {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 30px;
	height: 30px;
	padding: 10px;
	top: 110px;
	left: 50%;
	transform: translateX(420px);
}
#pause_button > div {
	width: 10px;
	height: 30px;
	margin: 0px 2px;
	background-color: white;
	border-radius: 4px;
}
#piece_select_area {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: calc(100% - 634px);
	min-width: 1000px;
	min-height: 200px;
	top: 634px;
	background-color: #bbffbb;
	box-shadow: 0px 0px 20px 10px #00000020;
	overflow-y: scroll;
}
.piece_select_area_slide_in {
	animation: piece-select-area-slide-in 0.5s ease-out;
}
@keyframes piece-select-area-slide-in {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}
.piece_select_area_slide_out {
	transition: 0.5s;
	transform: translateY(100%);
}
#piece_select_area > canvas {
	height: max-content;
	margin: 10px;
}
.piece_selecting {
	animation: piece-selecting 0.5s linear infinite;
}
@keyframes piece-selecting {
	50% {
		filter: brightness(50%);
	}
	100% {
		filter: brightness(100%);
	}
}
.piece_used {
	opacity: 0.25;
}
#piece_moving_area {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
}
#piece_moving_area > canvas {
	position: absolute;
}
#image_show_area {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000000d0;
	z-index: 2;
}
#image_show_area > div {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#image_show_area > div > div {
	margin-top: 50px;
}